<!DOCTYPE html>
<meta charset="utf-8">

<body>
    <h1>&nbsp;&nbsp;Vertical Pattern Explorer(ph2)</h1>
    <table class="table">
        <tr>
            <td></td>
            <td align=right>
                <div style="display:inline-block;">
                    <mat-checkbox [(ngModel)]="isKeepOrdering">Keep Ordering</mat-checkbox>
                </div>
                <div style="display:inline-block;width:10px"></div>
                <div style="display:inline-block;">
                    <button mat-stroked-button color="accent" (click)="verticalSearch()">Vertical Search</button>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td width="10"></td>
            <td>
                <div id="lines"></div>
                <div id="focus"></div>
                <div id="context"></div>
            </td>
            <td width="400" valign="top">
                <div id="ranks"></div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="right" style="vertical-align: top">
                <div style="width:180px;display:inline-block;" align="center">
                    <b>HZ Search Result Top: {{showHorizontalSearchPercent}}%</b>
                    <mat-slider thumbLabel min="1" max="20" class="example-margin" [(ngModel)]="showHorizontalSearchPercent"></mat-slider>
                </div>
                <div style="width:180px;display:inline-block;" align="center">
                    <b>Vertical Search Stride: &nbsp;&nbsp;{{stride}}</b>
                    <mat-slider thumbLabel min="1" max="50" class="example-margin" [(ngModel)]="stride"></mat-slider>
                </div>
                <div style="width:180px;display:inline-block;" align="center">
                    <b>Window Relaxation(ms): {{searchTimeRelaxationMs}}</b>
                    <mat-slider thumbLabel min="1" max="40000" class="example-margin" [(ngModel)]="searchTimeRelaxationMs"></mat-slider>
                </div>
                <div style="width:180px;display:inline-block;" align="center">
                    <b>Vertical Search Top #: {{showTopVerticalPattenCount}}</b>
                    <mat-slider thumbLabel min="1" max="200" class="example-margin" [(ngModel)]="showTopVerticalPattenCount"></mat-slider>
                </div>
                <div style="width:180px;display:inline-block;" align="center">
                    <b>Result # per window: {{resultCandidateCountPerWindow}}</b>
                    <mat-slider thumbLabel min="1" max="10" class="example-margin" [(ngModel)]="resultCandidateCountPerWindow"></mat-slider>
                </div>
                <div style="display:inline-block;width:10px"></div>
                <div style="display:inline-block;vertical-align: top">
                    <mat-checkbox [(ngModel)]="isKeepOrdering">Keep Ordering</mat-checkbox>
                </div>
                <div style="display:inline-block;width:10px"></div>
                <div style="display:inline-block;vertical-align: top">
                    <button mat-stroked-button color="accent" (click)="verticalSearch()">Vertical Search</button>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

    
</body>