<!DOCTYPE html>
<meta charset="utf-8">

<body>
    <h1>&nbsp;&nbsp;Vertical Pattern Explorer(ph2)</h1>
    <table class="table">
        <tr>
            <td></td>
            <td align="right">
                <mat-checkbox [(ngModel)]="isKeepOrdering">Keep Ordering</mat-checkbox>
                    &nbsp;
                <button mat-stroked-button color="accent" (click)="verticalSearch()">Vertical Search</button>
            </td>
            <td></td>
        </tr>
        <tr>
            <td width="10"></td>
            <td>
                <div id="lines"></div>
                <div id="focus"></div>
                <div id="context"></div>
            </td>
            <td width="400" valign="top">
                <div id="ranks"></div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="right">
                <mat-checkbox [(ngModel)]="isKeepOrdering">Keep Ordering</mat-checkbox>
                &nbsp;
                <button mat-stroked-button color="accent" (click)="verticalSearch()">Vertical Search</button>
            </td>
            <td></td>
        </tr>
    </table>
    &nbsp;&nbsp;
    <!-- <b>time distance weight: {{w2Value}}</b>
    <mat-slider thumbLabel min="0" max="10" tickInterval="1" class="example-margin" [(ngModel)]="w2Value" (change)="w2Change($event.value)">
    </mat-slider>
    <b># of Rank Set: {{rankCount}}</b>
    <mat-slider thumbLabel min="1" max="500" class="example-margin" [(ngModel)]="rankCount" (change)="rankCountChange($event.value)">
    </mat-slider> -->
    <b>HZ Search Result Top: {{showHorizontalSearchPercent}}</b>
    <mat-slider thumbLabel min="1" max="20" class="example-margin" [(ngModel)]="showHorizontalSearchPercent" >
    </mat-slider>%
    &nbsp;&nbsp;{{timeRankResult}}
    
</body>