/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font: 10px sans-serif;
    margin: 0;
}

.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.area {
    fill: #e7e7e7;
}

.grid-background {
    fill: #eee;
}

.grid line,
.grid path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .selection  {
    stroke: #000;
    fill: red;
}

.rankDiv {
    color: #EEEEEE;
}

.allRankDiv {
    color: #EEEEEE;
}

.findButton {
    fill: red;
    font-size: 18pt;
    font-weight: bold;
}

.verticalSpan {
    fill: red;
    font-size: 18pt;
    font-weight: bold;
}

/* 
.findButton .verticalSpan {
    
    font-size: 18pt;
    font-weight: bold;
    color: red;
} */